body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

svg path:hover {
    stroke : black;
    stroke-width: 3px;
    fill: rosybrown;
    pointer-events: all;
}

.tooltip{
    display: none;
    position: absolute;
    width: 100px;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 2px 3px rgba(55, 55, 55, 0.3);
}